@charset "utf-8";

// placeholder色
$placeholderColor: #c3c3c3;

// メディアクエリの基準幅
// tabがない場合は、bp-spとbp-pcを1px差で設定すること
$bp-sp: 767px;
$bp-pc: 768px;
// $bp-tab: $bp-pc - 1px;

// 共通余白設定
$padding-pc:24px;
$padding-sp:16px;
// $l-inner:1920px;
$l-inner:1680px;


// vwの基準となる幅 →320px=スマホ最小
$vw_standard_width: 375;

// transition
$transition01: 0.3s ease-in-out;


// color
$black: #06070E;
$black2:#6A7777; 
$blue: #618ABE; 
$white: #FFFFFF;
$gray:#707070;
$gray2:#EFEFEF;
$gray3:#656565;
$gray4:#B6B9B9;
$light-gray: #EBEBEB;
$orange:#F5BD8D;


// z-index
$z-index-top:101;
$z-index-hover:10;
