@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.c-btn{
  display: inline-block;
  position: relative;
  // z-index: 100000;
}

.c-btn a {
  font-size: 1.6rem;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.6rem 9.3rem;
  background-color: $black;
  border-radius: 5rem;
  border:1px solid $black;
  position: relative;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.005em;
  line-height: 1;
  @include pc{
    font-size: 1.4rem;
  }
}

.c-btn a::after{
  content: '';
  width: 4rem;
  height: 8px;
  right: 2.3rem;
  position: absolute;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(60deg) translateY(-50%);
}

.c-btn input {
  position: relative;
  font-size: 1.6rem;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1.2rem 9.3rem;
  background-color: $black;
  border-radius: 5rem;
  border:1px solid $black;
  position: relative;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.005em;
}

.c-btn__wrapper{
  display: inline-block;
  position: relative;
}
.c-btn .c-btn__wrapper::after{
  content: '';
  width: 4rem;
  height: 8px;
  top: 45%;
  right: 2rem;
  position: absolute;
  border-bottom: 1px solid $white;
  border-right: 1px solid $white;
  transform: skew(60deg) translateY(-50%);
}

