@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.c-contact-text {
	width: 100%;
}

.c-contact-text input,
.c-contact-textarea textarea{
	width: 100%;
	background: $gray2;
	border: 1px solid $gray2;
}

.c-contact-text input{
	height: 60px;
}

.c-contact-textarea textarea{
	height: 93px;
}
// .c-contact-text span{
	// height: 60px !important;
// 	width: 100%;
// }
// .c-contact-text__text {
// 	-moz-appearance: none;
// 	-webkit-appearance: none;
// 	appearance: none;
// 	background-color: transparent;
// 	background-image: none;
// 	border: 1px solid black;
// 	border-radius: 0;
// 	color: inherit;
// 	font-family: inherit;
// 	font-size: 1.6rem;
// 	padding: 0.5rem 1rem ;
// 	width: 100%;
// }

// .c-contact-text__text:focus {
// 	border: 1px solid black;
// 	box-shadow: none;
// 	outline: none;
// }
