@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.c-common-title{
  color: $blue;
  text-transform: uppercase;
  font-size: min(calc(24 / 375 * 100vw), 2.4rem);
  // font-size: 2.4rem;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  @include pc{
    // font-size: 5rem;
    font-size: min(5rem, calc(50 / 1920 * 100vw));
  }
}
