@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.c-hamburger{
  z-index:9999;
  position: relative;
}
 
.c-hamburger span {
  position: relative;
  display: block;
  height: 0.1rem;
  width: 3rem;
  background: $black;
  transition: ease .3s;
}
 
.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin-top: 0.65rem;
  margin-bottom: 0.65rem;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}
/*OPEN時の動き*/
.c-hamburger.open span{
  background:$white;
}
.c-hamburger.open span:nth-child(1) {
  top: 0.65rem;
  transform: rotate(315deg);
  // background-color: $white;
}

.c-hamburger.open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -0.85rem;
  transform: rotate(-315deg);
  // background-color: $white;
}