@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

	
body {
  position: relative;
  cursor: none; //もともとあるカーソルは見えなくなるようにする
}
 
.cursor,
.follower {
  border-radius: 50%;
  position: absolute; //bodyの一番左上になるように配置する
  top: 0;
  left: 0; 
  cursor: none; //もともとあるカーソルは見えなくなるようにする
  posinter-events: none; //他の要素がクリックできなくならないように
}
 
.cursor {
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 1001; //どの要素よりも一番上になるようにする
}
 
.follower {
  width: 40px;
  height: 40px;
  background-color: #fdfe00;
  z-indes: 1000; //カーソルの次に上になるようにする
}
 