@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

@keyframes fadeOut {
  50% {
    opacity: 1;
    position: fixed;
    overflow: hidden;
  }
  100%{
    opacity: 0;
    position: absolute;
    overflow: auto;
  }

}
#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // position: relative;
  background: initial;
  z-index: 11;
  // z-index: $z-index-top - 1;
}

#loader:after{
  // position: fixed;
  background-color: black;
  background: url(../img/common/loader-pc.png);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  // transform: translate(-50%, -50%);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
  // display: block;
  z-index: 10;
  // z-index: $z-index-top - 1;
}

#loader.loaded {
  animation: fadeOut 1s forwards;
  // transition : all 0.5s;
}

