@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;
.p-background{
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0),20%,rgba(255, 255, 255, 0),35%, $white);
  // isolation: isolate;
}

.p-background--contact{
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: relative;
  // background: linear-gradient(to transparent,50%, $white);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) ,50%, $white);
  // isolation: isolate;
}
