@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-contact{
  // padding: calc(66 / 375 * 100vw) 0;
  color: $white ;
  // background-image: url(../img/common/contact-sp.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
  z-index: $z-index-hover;
  // border-radius: 48px;
  // width: 1920px;
  @include pc{
    border-radius: 4.8rem 0 0 4.8rem;
    // margin-left: min(calc(262 / 1658 * 100vw), 26.2rem);
    // margin-right: 0;
    // padding: min(calc(114 / 1920 * 100vw), 11.4rem) 0;
    // padding: calc(114 / 1920 * 100vw) 0;
    // display: flex;
    // background-image: url(../img/common/contact-pc.png);
  // width: 1024px;
}
}

.p-contact__wrapper:hover{
  filter: brightness(120%);
}

// .p-contact::before{
//   // background: rgba(255, 255, 255, .5);/* マスクの色(黒の50%) */
//   bottom: 0;
//   content: '';
//   height: auto;
//   left: 0;
//   opacity: 0;/* 最初は透明（非表示） */
//   position: absolute;
//   right: 0;
//   top: 0;
//   transition: opacity .6s ease;/* ゆっくりopacityのみへ変化させる */
//   width: 100%;
//   z-index: 1;
//   filter: brightness(120%);
// }

// .p-contact:hover::before{
//   opacity: 1;
// }
// .p-contact__wrapper a:hover{
//   filter: brightness(200%);
// }

.p-contact__wrapper{
  background-image: url(../img/common/contact-sp.png);
  padding-top: calc(66 / 375 * 100vw) ;
  padding-bottom: calc(66 / 375 * 100vw) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  z-index: $z-index-hover;
  border-radius: 48px;
  @include pc{
    width: min(calc(1658 / 1920 * 100vw), 165.8rem);
    max-width: 100%;
    padding-right: min(calc(24 / 1920 * 100vw), 2.4rem);
    padding-top: min(calc(114 / 1920 * 100vw), 11.4rem);
    padding-bottom: min(calc(114 / 1920 * 100vw), 11.4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-right: min(calc(203 / 1920 * 100vw), 2.4rem);
    // margin-right: 0;
    margin-left: auto;
    background-image: url(../img/common/contact-pc.png);
    border-radius: 4.8rem 0 0 4.8rem;
    // margin-left: min(calc(262 / 1658 * 100vw), 26.2rem);
  }
}
.p-contact__textwrapper{
  width: 28.8rem;
  margin-left: auto;
  margin-right: auto;
  color: $white;
  @include pc{
    margin-left: min(calc(203 / 1920 * 100vw), 20.3rem);
    // margin-left: calc(203 / 1920 * 100vw);
    width: min(calc(1000 / 1920 * 100vw), 100rem);
  }
}

.p-contact__title{
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-size: calc(24 / 375 * 100vw);
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  @include pc{
    font-size: min(calc(63 / 1920 * 100vw), 6.3rem);
    text-align: left;
  }
}

.p-contact__subtitle{
  margin-top: calc(26 / 375 * 100vw);
  margin-left: auto;
  margin-right: auto;
  // width: calc(233 / 375 * 100vw);
  width: min(calc(255 / 375 * 100vw), 25.5rem);
  @include pc{
    width: initial;
    margin-left: 0;
    margin-top: min(calc(17 / 1920 * 100vw), 1.7rem);
  }
  h3{
    font-size: calc(18 / 375 * 100vw);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    // letter-spacing: -0.08em;
    line-height: calc(24/18);
    @include pc{
      font-size: min(calc(36 / 1920 * 100vw), 3.6rem);
    }
  }
}

.p-contact__text{
  margin-top: min(calc(18 / 375 * 100vw), 1.8rem);
  margin-left: auto;
  margin-right: auto;
  @include pc{
    margin: 0;
  }
  p{
    font-size: calc(12 / 375 * 100vw);
    font-weight: 500;
    // letter-spacing: -0.08em;
    line-height: calc(22/12);
    text-align: left;
    @include pc{
      font-size: min(calc(15 / 1920 * 100vw), 1.5rem);
    }
  }
}

.p-contact__btn{
  margin-top: calc(35 / 375 * 100vw);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: left;
  width: min(calc(56 / 375 * 100vw), 5.6rem);
  height: calc(56 / 375 * 100vw);
  @include pc{
    margin: 0;
    margin-right: min(calc(187 / 1920 * 100vw), 18.7rem);
    width: min(calc(161 / 1920 * 100vw), 16.1rem);
    height: min(calc(161 / 1920 * 100vw), 16.1rem);
  }
}

.p-contact__btn a{
  border-radius: 50%;
  @include pc{
    margin:0;
  }

}
