@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-contact{
  padding: 6.6rem 0;
  color: $white ;
  background-image: url(../img/common/contact-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  @include pc{
    // margin-left: 26.2rem;
    // padding: 11.4rem 0;
    margin-left: calc(262 / 1920 * 100vw);
    padding: calc(114 / 1920 * 100vw) 0;
    // overflow: hidden;
    display: flex;
    // width: 86.35vw;
    background-image: url(../img/common/contact-pc.png);
  }
}
.p-contact__wrapper{
  @include pc{
    // width: 145.5rem;
    width: calc(1455 / 1920 * 100vw);
    max-width: 100%;
    // padding-right: 2.4rem;
    padding-right: calc(24 / 1920 * 100vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.p-contact__textwrapper{
  width: 28.8rem;
  margin-left: auto;
  margin-right: auto;
  // text-align: center;
  @include pc{
    // padding-left: 10.5%;
    // margin-left: 10.5%;
    margin-left: calc(203 / 1920 * 100vw);
    // width: 100rem;
    // max-width: calc(100% - 36.4rem);
    // overflow: hidden;
    width: calc(1000 / 1920 * 100vw);
  }
}

.p-contact__title{
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  @include pc{
    // font-size: 6.3rem;
    font-size: calc(63 / 1920 * 100vw);
    text-align: left;
  }
}

.p-contact__subtitle{
  margin-top: 2.6rem;
  // margin-left: calc(36 / 375 * 100vw);
  margin-left: auto;
  margin-right: auto;
  width: 23.3rem;
  // max-width: 100%;
  @include pc{
    width: initial;
    margin-left: 0;
    margin-top: 1.7rem;
  }
  h3{
    // text-align: center;
    font-size: 1.8rem;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    letter-spacing: -0.08em;
    line-height: calc(24/18);
    @include pc{
      // font-size: 3.6rem;
      font-size: calc(36 / 1920 * 100vw);
    }
  }
}

.p-contact__text{
  margin-top: 1.8rem;
  margin-left: auto;
  margin-right: auto;
  // width: 28.8rem;
  // max-width: 100%;
  @include pc{
    // width: inherit;
    margin: 0;
    // margin-left: inherit;
    // margin-right: inherit;
  }
  p{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.08em;
    line-height: calc(22/12);
    text-align: left;
    @include pc{
      // font-size: 1.5rem;
      font-size: calc(15 / 1920 * 100vw);
    }
  }
}

.p-contact__btn{
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: left;
  // width: 56px;
  // height: 56px;
  width: 5.6rem;
  height: 5.6rem;
  @include pc{
    margin: 0;
    // margin-left: calc(193 / 1920 * 100vw);
    // width: 161px;
    // height: 161px;
    width: calc(161 / 1920 * 100vw);
    height: calc(161 / 1920 * 100vw);
  }
}

.p-contact__btn a{
  border-radius: 50%;
  @include pc{
    margin:0;
  }

}
