@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-footer{
  background: $black;
  color: $white;
  padding-top: calc(150 / 375 * 100vw);
  padding-bottom: calc(95 / 1375 * 100vw);
  position: relative;
  @include pc{
    padding-top: min(calc(268 / 1920 * 100vw), 26.8rem);
    padding-bottom: min(calc(156 / 1920 * 100vw), 15.6rem);
  
  }
}
.p-footer__inner{
  position: relative;
  z-index: $z-index-hover ;
}
.p-footer__box{
  @include pc{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.p-footer__logo{
  @include pc{
    // display: flex;
    // align-items: center;
  }
}

.p-footer__logo small{
  display: block;
  font-size: calc(9 / 375 * 100vw);
  margin-top: calc(4 / 375 * 100vw);
  font-family: futura-pt, sans-serif;
	font-weight: 600;
  letter-spacing: -0.08em;
  padding-left: 0.7rem;
	font-style: normal;
  @include pc{
    margin-top: min(calc(28 / 1920 * 100vw), 2.8rem);
    font-size: min(calc(15 / 1920 * 100vw), 1.5rem);
    text-align: center;
  }
}

.p-footer__logobox{
  display: inline-block;
  @include pc{
    margin-top: 1.6rem;
    padding-top: clamp(1rem, calc(50 / 1920 * 100vw), 5rem);
  }
}

.p-footer__logo a img{
  max-width: 100%;
  width: calc(134 / 375 * 100vw);
  @include pc{
    width: min(calc(308 / 1920 * 100vw), 30.8rem);
  }
}

.p-footer__nav{
  margin-top: calc(38 / 375 * 100vw);
  @include pc{
    margin-top: 0;
  }
}

.p-footer__policy{
  font-size: 2rem;
  margin-top: calc(16 / 375 * 100vw);
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  @include pc{
    font-size: min(calc(20 / 1920 * 100vw), 2rem);
    padding: min(calc(50 / 1920 * 100vw), 5rem);
    margin-top: min(calc(10 / 1920 * 100vw), 1rem);

  }

}
.p-footer__policy a{
  color: $white;
  text-transform: uppercase;
}