@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-gnav{
  width: 100%;
  display: flex;
  justify-content: end;
}

.p-gnav__menu{
  // padding-top: 1rem;
  // padding-bottom: 1rem;
  // width: 124rem;
  max-width: calc(100vw - 19rem);
  width: min(75vw, calc(1489 / 1920 * 100vw));
  // max-width: 140rem;
  // @include min(1920){
  //     width: 150rem;
  // }
}

.p-gnav__items{
  display: flex;
  justify-content: end;
  width: 100%;

}

.p-gnav__item{
  // font-size: 2rem;
  font-size: calc(20 / 1920 * 100vw);
  // font-size: clamp(1rem, 1vw, 2rem); 
  // padding: 3.6rem 2.6vw 4.4rem 2.6vw ;
  // padding: 1.2rem clamp(1rem, 2.6vw, 5rem) 2rem clamp(1rem, 2.6vw, 5rem);
  padding: 1.2rem clamp(1rem, calc(50 / 1920 * 100vw), 5rem) 2rem clamp(1rem, calc(50 / 1920 * 100vw), 5rem);

  text-align: center;
  color:$black;
  text-transform: uppercase;
  // @include max(1240){
  //   padding: 3.6rem 1rem 4.4rem 1rem ;

  // }
}

.p-gnav__item a{
  position: relative;
}
// .p-gnav__item a::after{
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   content: '';
//   width: 100%;
//   height: 0.2rem;
//   background:$black;
//   transform: scale(0, 1);
//   transform-origin: center top;
//   transition: transform .3s;
// }

// .p-gnav__item a:hover::after{
//   transform: scale(1, 1);
// }


.p-gnav__item a{
  width: 100%;
  display: inline-block;
}

.p-gnav.m_fixed {
	position: fixed;
	top: 0;
}
