@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-header{
	// background: $white;
	background: hsla(0,0%,100%,.4);
	position: fixed;
	width: 100%;
	backdrop-filter: blur(15px);
	z-index: 1000;
}

// .p-header__box,
// .p-header__sp
// {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// 	// background: $white;
// }

.p-header__inner{
	// position: fixed;
}

.p-header__box,
.p-header__sp{
	display: flex;
	justify-content: space-between;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	width: 100%;
	position: relative;
	z-index: 10000;
}

.p-header__logo{
  // font-size: 2.4rem;
	width: 8.3rem;
  max-width: 100%;
	display: flex;
	align-items: center;
	@include pc{
		// width: 19rem;
		width: calc(190 / 1920 * 100vw);
	}
}

.p-header__menutext{
  line-height: 1;
}


.p-header__drawer span{
	color: $white;
  margin: 0 auto;
}
.p-header__overlay {
	position: absolute;
	top: 30px;
	// left: 0;
	right: 30px;
	z-index: -1;
	opacity: 1;
	// display: block;
	display: none;
	background-color: black;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	animation: animationZoom1 0.3s ease-in-out forwards;
}
// .p-header__overlay .open{
// 	position: absolute;
// 	top: 30px;
// 	right: 30px;
// 	z-index: -1;
// 	opacity: 1;
// 	display: block;
// 	background-color: black;
// 	width: 10px;
// 	height: 10px;
// 	border-radius: 50%;
// 	animation: animationZoom1 0.3s ease-in-out forwards;
// }
@keyframes animationZoom1 {
	0% { transform:scale(0)} 
	100% { transform:scale(135)} 
}

.p-header__spbox{
	// width: 3rem;
	display: flex;
	justify-content: center;
}

.p-header__menubox{
	margin-left: 0.8rem;
	padding-top: 0.4rem;

}

