@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-header{
	// background: $white;
	background: hsla(0,0%,100%,.4);
	position: fixed;
	width: 100%;
	backdrop-filter: blur(15px);
	z-index: 1000;
}

// .p-header__box,
// .p-header__sp
// {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// 	// background: $background;
// }

.p-header__inner{
	// position: fixed;
}

.p-header__box,
.p-header__sp{
	display: flex;
	justify-content: space-between;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	width: 100vw;
}

// .p-header__sp.m_fixed {
// 	position: fixed;
// 	top: 0;
// 	z-index: $z-index-top;
// }

.p-header__logo{
  // font-size: 2.4rem;
	width: 8.3rem;
  max-width: 100%;
	display: flex;
	align-items: center;
	@include pc{
		width: 19rem;
	}
}

.p-header__title{
  text-align: center;
  font-size: 1rem;
}

.p-header__menutext{
  line-height: 1;
}

.p-header__menutext span{
  font-size: 1rem;
  color:$text-color2;
}


.p-header__drawer span{
	color: $white;
  margin: 0 auto;
}

.p-header__overlay {
	background-color: rgba($color: $background, $alpha: 0.6);
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: none;
}

.p-header__nav{
  // display: flex;
  // justify-content:center;
	// height: inherit;
	// padding-right: $padding-sp;
	// padding-left: $padding-sp;
	// @include sptb {
	// 	padding-right: $padding-pc;
	// 	padding-left: $padding-pc;
	// }

}

.p-header__spbox{
	// width: 3rem;
	display: flex;
	justify-content: center;
}

.p-header__menubox{
	margin-left: 0.8rem;
	padding-top: 0.4rem;
	// background-color: $background2;

}

