@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-mv{
  // display: block;
  height: 88.5vw;
  width: 100vw;
  position: relative;
  // z-index: -10;
  @include pc{
    height: 100vh;
  }
  // z-index: -1;
}

.p-mv__img{
  position: absolute;
  right: 1.6rem;
  // right: 0;
  top: calc(88 / 375 * 100vw);
  @include pc{
    top: calc(175 / 1920 * 100vw);
    // right: calc(120 / 1920 * 100vw);
    right: 2.4rem;
  }
}

.p-mv__img img{
  width: calc(196.5 / 375 * 100vw);
  height: calc(191.6 / 375 * 100vw);
  opacity: 0.3;
  @include pc{
    width: min(calc(852 / 1920 * 100vw), 85.2rem);
    height: min(calc(830 / 1920 * 100vw), 83rem);
  }

}


.p-mv__titlebox{
  color: white;
  position: absolute;
  mix-blend-mode: difference;
  z-index: 10;
  text-transform: uppercase;
  top: calc(129 / 375 * 100vw);
  left: calc(20 / 375 * 100vw);
  @include pc{
    top: calc(367 / 1920 * 100vw);
    left: min(calc(143 / 1920 * 100vw), 14.3rem);
    // left: 0;

  }
}

.p-mv__top-title{
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc(30 / 375 * 100vw);
  line-height: 1.2;
  // letter-spacing: -0.05em;
  @include pc{
    left: calc(256 / 1920 * 100vw);
    line-height: 1.15;
    font-size: min(calc(127 / 1920 * 100vw), 12.7rem);
  }
}

.p-mv__sub-title{
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: calc(42 / 375 * 100vw);
  padding-top: calc(17 / 375 * 100vw);
  // letter-spacing: -0.05em;
  position: relative;
  @include pc{
    font-size: min(calc(124 / 1920 * 100vw), 12.4rem);
    padding-top: min(calc(93 / 1920 * 100vw), 9.3rem);
    // padding-left: calc(7 / 1920 * 100vw);
  }
}

.p-mv__jp-title{
  font-weight: 600;
  font-style: normal;
  font-size: calc(22 / 375 * 100vw);
  // padding-top: calc(17 / 375 * 100vw);
  // letter-spacing: -0.05em;
  @include pc{
    font-size: min(calc(62 / 1920 * 100vw), 6.2rem);
    // padding-top: calc(93 / 1920 * 100vw);
  }

}

.p-mv__inner{
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
}