@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-reception{
}

.p-reception__inner{
  display: flex;
  flex-wrap: wrap;
  width: $l-inner;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  @include pc{
    flex-direction: initial;
  }
}