@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-sub-contact {
  padding-bottom: 8.0rem;
}

.p-sub-contact__wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include pc{
    width: min(calc(828 / 1920 * 100vw), 82.8rem);
  }
}

.p-sub-contact__title{
  text-align: center;
}

// .p-sub-contact__text {
//   font-size: 1.4rem;
//   line-height: 1.7;
//   letter-spacing: 0.04em;
//   @include tbpc {
//     font-size: 1.6rem;
//   }
// }

// .p-sub-contact__textBox {
//   margin-top: 4.8rem;
// }

// .p-sub-contact__contents {
//   margin-top: 5.0rem;
// }

.p-sub-contact__content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-sub-contact__content + .p-sub-contact__content {
  margin-top: calc(32 / 375 * 100vw);
  @include pc{
    margin-top: min(calc(45 / 1920 * 100vw), 4.5rem);
  }
}

.p-sub-contact__head {
  display: flex;
  align-items: center;
}

.p-sub-contact__required {
  display: block;
  width: calc(11 / 375 * 100vw);
  height: calc(11 / 375 * 100vw);
  background: $orange;
  border-radius: 50%;
  margin-left: calc(8 / 375 * 100vw);
  @include pc{
    margin-left: min(calc(16 / 1920 * 100vw), 1.6rem);
    width: min(calc(18 / 375 * 100vw), 1.8rem);
    height: min(calc(18 / 375 * 100vw), 1.8rem);
    }
}

.p-sub-contact__item {
  margin-top: calc(9 / 375 * 100vw);
  @include pc{
    margin-top: min(calc(19 / 1920 * 100vw), 1.9rem);
  }
}

.p-sub-contact__content--bottun {
  text-align: center;
}

// .p-sub-contact__content--center {
//   @include tbpc {
//     text-align: center;
//   }
// }
