@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-top-live{
}

.p-top-live__title{
  font-size: min(calc(38 / 375 * 100vw), 3.8rem);
  font-weight: 700;
  line-height: calc(49/38);
  letter-spacing: -0.1em;
  @include pc{
    font-size: min(calc(100 / 1920 * 100vw), 10rem);
    // font-size: 10rem;
    line-height: calc(135/100);
  }
}

.p-top-live__img{
  margin-top: 6.4rem;
  width: 100%;
  @include pc{
    width: 84.523%;
    max-width: min(calc(1420 / 1920 * 100vw), 142rem);
    // max-width: 144rem;
    margin-top: min(calc(220 / 1920 * 100vw), 22rem);
  }
}

.p-top-live__text{
  margin-top: 3.6rem;
  // letter-spacing: -0.07em;
  @include pc{
    margin-top: min(calc(150 / 1920 * 100vw), 15rem);
    width: min(686 / 1920 * 100vw, 68.6rem);
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
  }
}