@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-top-about{

}

.p-top-about__wrapper{
  @include pc{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 168rem;
    max-width: 100%;
  }
}

.p-top-about__textwrapper{
  @include pc{
    width: 83.1rem;
    max-width: calc(831 / 1920 * 100vw);
  }
}

.p-top-about__title{
  @include pc{
    // font-size: 10rem;
    line-height: calc(135/100);
  }
}

.p-top-about__subtitle{
  margin-top: calc(22 / 375 * 100vw);
  @include pc{
    margin-top: min(calc(22 / 1920 * 100vw), 2.2rem);
  }
}

.p-top-about__img{
  margin-top: calc(44 / 375 * 100vw);
  width: 100%;
  @include pc{
    width: 71rem;
    max-width: calc(710 / 1920 * 100vw);
    margin-top: 0;
    margin-left: min(13.9rem, calc(139 / 1920 * 100vw));
  }
}

.p-top-about__text{
  margin-top: calc(36 / 375 * 100vw);
  letter-spacing: -0.07em;
  @include pc{
    margin-top: min(calc(87 / 1920 * 100vw), 8.7rem);
  }
}

.p-top-about__btn{
  margin-top: 2.4rem;
  display: flex;
  justify-content: center;
  @include pc{
    // margin-top: min(calc(24 / 1920 * 100vw), 24);

  }
}

.p-top-about__btn a{
  @include pc{
    margin-right: 0;
    margin-left: auto;
  }
}