@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.p-topic{
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  border-bottom: 1px solid $border-color;  
  @include pc{
    flex-direction:initial;
  }
}

.p-topic__text{
  margin-left: 0;
  @include pc{
    margin-left: 4.8rem;
  }
}