@charset "UTF-8";
/*------------------------------------------------------------------------------
  reset PC
------------------------------------------------------------------------------*/
html,
input,
textarea,
select,
button {
  font-family: "Roboto", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

html {
  color: #000;
  background: #fff;
  font-size: 16px;
  font-size: 62.5%;
  line-height: 1.6;
  word-break: break-all;
  z-index: -10;
  position: relative;
}

body {
  background: #fff;
  margin: 0;
  font-size: 1.6rem;
  position: relative;
  z-index: -10;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::-ms-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

.inner-block {
  position: relative;
  max-width: 1040px;
  padding: 0 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#wrapper {
  position: relative;
}

dl, dt, dd {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../font/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../font/Roboto-Bold.ttf");
}
.c-svg {
  display: inline-block;
  fill: currentColor;
  vertical-align: top;
}

/*------------------------------------------------------------------------------
  reset SP
------------------------------------------------------------------------------*/
fieldset,
legend,
button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  margin: 0;
  padding: 4px;
  border: 1px solid #d2d2d2;
  outline: none;
  font-size: 16px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
input[type=datetime],
input[type=week],
textarea,
select {
  margin-right: 0;
  margin-left: 0;
  padding: 4px;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  outline: none;
  background: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  width: 100%;
  height: 100px;
  overflow: auto;
}

select {
  padding-right: 30px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: right 8px center;
}

.select {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.select select {
  width: 100%;
  padding-right: 24px;
  border: 1px solid #d2d2d2;
  background: none;
  cursor: pointer;
}

.select::before {
  position: absolute;
  top: 13px;
  right: 8px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 1px solid #d2d2d2;
  pointer-events: none;
}

/* radio & checkbox */
input[type=radio],
input[type=checkbox] {
  display: none;
}

input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  margin-left: 8px;
  padding: 10px 20px;
  color: #555;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

input[type=radio] + span::before,
input[type=checkbox] + span::before {
  position: absolute;
  top: 50%;
  left: -8px;
  width: 16px;
  height: 16px;
  content: "";
  margin-top: -8px;
  border: 1px solid #d2d2d2;
  background: #fff;
}

/* fieldset */
fieldset {
  padding: 8px 16px;
  border: 1px solid #fff;
}

legend {
  padding: 0 8px;
}

/* button */
input[type=submit],
input[type=reset],
input[type=button],
button {
  display: inline-block;
  margin: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  cursor: pointer;
  padding: 1rem 3rem;
  color: #333;
  font-size: 1.6rem;
  background-color: #fff;
  border-radius: 2.5rem;
  border: 0.1rem solid #333;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */
/* Firefox */
/* IE */
select::-ms-expand {
  display: none;
}

/* webkit */
/* iOS */
input[type=submit]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration,
input[type=search]::-webkit-search-decoration {
  display: none;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type=search]::-webkit-search-decoration {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  font-size: 16px;
}

/* 挙動
---------------------------------------------------------------------------- */
/* hover */
input:hover,
textarea:hover,
select:hover {
  border-color: #666;
}

input[type=radio] + span:hover,
input[type=checkbox] + span:hover {
  color: #000;
}

input[type=radio] + span:hover::before,
input[type=checkbox] + span:hover::before {
  border-color: #000;
}

input[type=radio] + span:hover::after,
input[type=checkbox] + span:hover::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #fff;
}

/* checked */
input[type=radio]:checked + span,
input[type=checkbox]:checked + span {
  color: #333;
}

input[type=radio]:checked + span::before,
input[type=checkbox]:checked + span::before {
  border-color: #333;
}

input[type=radio]:checked + span::after,
input[type=checkbox]:checked + span::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #333;
}

/* radio */
input[type=radio] + span::before,
input[type=radio] + span:hover::after,
input[type=radio]:checked + span::after {
  border-radius: 50%;
}

/* button */
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

/* focus */
input:focus,
textarea:focus {
  border-color: #333;
}

input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
input[type=search]:focus {
  outline-offset: -2px;
}

/* disabled */
input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
  border-color: #d2d2d2;
  background: #eee;
  cursor: not-allowed;
}

input[type=radio]:disabled + span,
input[type=checkbox]:disabled + span {
  color: #d2d2d2;
  cursor: not-allowed;
}

input[type=radio]:disabled + span::before,
input[type=checkbox]:disabled + span::before {
  border-color: #d2d2d2;
  cursor: not-allowed;
}

/* バリデーション */
/* placeholder */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.c-btn {
  display: inline-block;
}

.c-btn a {
  font-size: 1.6rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 1.2rem 9.3rem;
  background-color: #06070E;
  border-radius: 5rem;
  border: 1px solid #06070E;
  position: relative;
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.005em;
}

.c-btn a::after {
  content: "";
  width: 40px;
  height: 8px;
  right: 2.3rem;
  position: absolute;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  -webkit-transform: skew(60deg) translateY(-50%);
          transform: skew(60deg) translateY(-50%);
}

.c-btn a:hover {
  background-color: #333;
  color: #fff;
}

.c-btn a:hover::after {
  border-color: #fff;
}

.c-card {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-card__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.c-card__title {
  font-size: 2.4rem;
  text-align: center;
}

.c-card__category {
  padding: 0.8rem;
  background-color: #333;
  font-size: 1.2rem;
}

.c-card__time {
  font-size: 1.2rem;
}

.c-card__body {
  padding: 1.6rem;
}

.c-card__info {
  padding: 0 1.6rem;
  margin-top: auto;
}

.c-card__img {
  padding-top: 61.8046%;
  position: relative;
  min-width: 28rem;
}

.wp-block-image {
  padding-top: 61.8046%;
  position: relative;
}

.wp-block-image img {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-card__img img {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 28rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-card__text {
  padding-top: 1.6rem;
}

.c-card__price {
  text-align: right;
}

.c-common-subtitle {
  color: #06070E;
  font-weight: 700;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: -0.08em;
}

.c-common-text {
  color: #06070E;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8571428571;
}

.c-common-title {
  color: #618ABE;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.c-common-title.white {
  color: #FFFFFF;
  background-color: #06070E;
}

.c-contact-button__submit:hover,
.c-contact-button__submit:focus {
  outline: none;
}

.c-contact-button__submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.c-contact-check__item + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  line-height: 1.7142857143;
}

.c-contact-check__item + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 0;
  width: 1em;
}

.c-contact-check__item + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  content: "";
  display: block;
  height: 0.6em;
  left: -8px;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 14px;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 1em;
}

.c-contact-check__item:checked + span::after {
  opacity: 1;
}

.c-contact-radio {
  padding-left: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type=radio] + span {
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px 10px 25px;
  position: relative;
}

input[type=radio] + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 62%;
  transform: translateY(-50%);
  width: 16px;
}

input[type=radio] + span::after {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 8px;
}

input[type=radio]:checked + span::after {
  opacity: 1;
}

.c-contact-text {
  width: 100%;
}

.c-contact-text__text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid black;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.c-contact-text__text:focus {
  border: 1px solid black;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.c-contact-textarea__text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #d2d2d2;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.6rem;
  height: 21rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.c-contact-textarea__text:focus {
  border: 1px solid #d2d2d2;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.c-hamburger {
  z-index: 9999;
}

.c-hamburger span {
  position: relative;
  display: block;
  height: 0.2rem;
  width: 3rem;
  background: #8ac343;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.c-hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.c-hamburger.open span:nth-child(1) {
  top: 0.7rem;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.c-hamburger.open span:nth-child(2) {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.c-hamburger.open span:nth-child(3) {
  top: -0.9rem;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.c-timetable {
  width: inherit;
  max-width: inherit;
  border: none;
}

.c-timetable th {
  background-color: #333;
  color: #fff;
  border: none;
  border-right: 0.1rem solid #fff;
  text-align: center;
}

.c-timetable th:last-of-type {
  border: none;
}

.c-timetable th:first-of-type {
  border-radius: 1rem 0 0;
}

.c-timetable th:last-of-type {
  border-radius: 0 1rem 0 0;
}

.c-timetable__title {
  width: 30%;
}

.c-timetable__text {
  width: 10%;
}

.c-timetable td {
  text-align: center;
  border: 0.1rem solid #d2d2d2;
  border-bottom: none;
}

.c-timetable td:first-of-type {
  border: none;
  border-top: 0.1rem solid #d2d2d2;
}

.c-timetable td:last-of-type {
  border: none;
  border-top: 0.1rem solid #d2d2d2;
}

.c-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 1000;
  display: none;
}
.c-top .c-top__link {
  display: block;
  width: 5rem;
  height: 5rem;
  padding: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
  background-color: #333;
}
.c-top .c-top__link:hover {
  opacity: 0.8;
}

.l-breadcrumb {
  margin-top: 2.4rem;
}

.l-footer {
  margin-top: 6.4rem;
}

.l-inner {
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1048px;
}

.l-margin {
  margin-top: 6.4rem;
}

.l-pager {
  margin-top: 4.8rem;
}

.l-top-about {
  margin-top: 10rem;
}

.l-top-live {
  margin-top: 11.2rem;
}

.l-top-service {
  margin-top: 10rem;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/common/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../font/slick.eot");
  src: url("../font/slick.eot?#iefix") format("embedded-opentype"), url("../font/slick.woff") format("woff"), url("../font/slick.ttf") format("truetype"), url("../font/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.p-about {
  -webkit-animation-name: fadeup;
          animation-name: fadeup;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background: #F0FCE5;
  padding: 2.4rem 0;
}

.p-about__inner {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.p-about__title {
  text-align: center;
}

.p-about__text {
  text-align: center;
}

.p-about__feature {
  margin-top: 2.4rem;
}

.p-about__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.5rem;
}

.p-about__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.5rem;
}

.p-about__img img {
  width: 100%;
  border-radius: 1rem;
}

.p-about__textbox {
  margin-top: 2.4rem;
}

.p-consultation {
  max-width: 100%;
}

.p-consultation__table {
  border: 1px solid #d2d2d2;
  display: inline-block;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin-top: 3.2rem;
}

.p-consultation__textbox {
  margin-top: 1.6rem;
}

.p-consultation__title {
  text-align: center;
}

.p-drawer-menu {
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
  position: relative;
  background-color: #fff;
}

.p-drawer-menu__items {
  margin-top: 2rem;
}

.p-drawer-menu__item {
  border-left: 0.5rem solid #333;
  border-bottom: 0.1rem solid #d2d2d2;
}

.p-drawer-menu__item a {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2rem;
  color: #333;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 1.5rem;
  line-height: 1;
}

.p-feature {
  background: #fff;
  padding: 2.4rem;
  border-radius: 2.5rem;
}

.p-feature__textbox {
  padding-top: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-feature__title {
  font-size: 2rem;
  text-align: center;
}

.p-feature__rightbox,
.p-feature__leftbox {
  width: 30rem;
  max-width: 100%;
  margin: 0 auto;
}

.p-feature__text {
  font-size: 1.6rem;
}
.p-footer__inner {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.p-footer__copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.4rem;
}

.p-footer__logo {
  margin-top: 4.8rem;
  max-width: 80%;
  width: 30rem;
}

.p-gnav__menu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 1000px;
}

.p-gnav__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-gnav__item {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 20%;
  text-align: center;
  color: #333;
  border-left: 1px solid #d2d2d2;
}

.p-gnav__item a {
  position: relative;
}

.p-gnav__item a::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 0.2rem;
  background: #333;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.p-gnav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-gnav__item:last-child {
  border-right: 1px solid #d2d2d2;
}

.p-gnav__item a {
  width: 100%;
  display: inline-block;
}

.p-gnav {
  position: static;
  z-index: 1000;
  width: 100%;
  background-color: white;
}

.p-gnav.m_fixed {
  position: fixed;
  top: 0;
}

.p-header__box,
.p-header__sp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.p-header__sp.m_fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.p-header__logo {
  font-size: 2.4rem;
  max-width: 22rem;
  width: 100%;
}

.p-header__title {
  text-align: center;
  font-size: 1rem;
}

.p-header__menutext {
  line-height: 1;
}

.p-header__menutext span {
  font-size: 1rem;
  color: #333;
}

.p-header__drawer span {
  margin: 0 auto;
}

.p-header__overlay {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none;
}

.p-header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  padding-right: 16px;
  padding-left: 16px;
}

.p-header__spbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-header__sptel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.4rem;
  line-height: 1;
  color: #333;
  background-color: #F0FCE5;
  padding: 0.4rem 1rem;
}

.p-header__sptel a {
  font-size: 1.6rem;
  color: #333;
}

.p-header__sptel span {
  padding-top: 0.4rem;
}

.p-header__menubox {
  margin-left: 0.8rem;
  padding-top: 0.4rem;
  background-color: #F0FCE5;
}

.p-header__sptel span {
  font-size: 1rem;
  color: #333;
}

.p-info__inner {
  margin: 0 auto;
}

.p-info__title {
  text-align: center;
}

.p-info__cards {
  margin-top: 1.6rem;
}

.p-info__cards .c-card__img {
  overflow: hidden;
  border-radius: 1rem;
}

.p-info__cards a:hover .c-card__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* 拡大 */
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.6;
}

.p-info__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.6rem;
}

.p-mv {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.p-mv__title {
  font-size: 5rem;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 30%;
  left: 30%;
  mix-blend-mode: difference;
  z-index: 10;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.p-reception__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-slick {
  width: 100vw;
  height: auto;
}

.p-slick img {
  width: 100vw;
}

.p-sub-about__messagebox {
  margin-top: 6.4rem;
}

.p-sub-about__subtitle {
  font-size: 2.2rem;
  color: #333;
  margin-top: 4.8rem;
  text-align: center;
}

.p-sub-about__featurebox {
  margin-top: 4.8rem;
}

.p-sub-about__features {
  margin-top: 4.8rem;
}

.p-sub-about__cards {
  margin-top: 4.8rem;
}

.p-sub-contact {
  padding-bottom: 8rem;
}

.p-sub-contact__text {
  font-size: 1.4rem;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

.p-sub-contact__textBox {
  margin-top: 4.8rem;
}

.p-sub-contact__contents {
  margin-top: 5rem;
}

.p-sub-contact__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.p-sub-contact__content + .p-sub-contact__content {
  margin-top: 4rem;
}

.p-sub-contact__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-sub-contact__title {
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.04em;
  font-weight: 700;
  margin-right: 1rem;
}

.p-sub-contact__required {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.3rem 0.5rem;
  background-color: #333;
  color: #fff;
}

.p-sub-contact__item {
  margin-top: 1rem;
}

.p-sub-contact__content--bottun {
  text-align: center;
}

.p-sub-feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.4rem;
  width: 100%;
}

.p-sub-feature:nth-of-type(odd) {
  background: #F0FCE5;
}

.p-sub-feature:nth-of-type(even) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-sub-feature__body {
  max-width: 100%;
  width: 582px;
  padding-top: 2.4rem;
}

.p-sub-feature__no {
  display: inline-block;
  padding: 1rem 0.8rem;
  line-height: 1;
  background: #333;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
}

.p-sub-feature__titlebox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-sub-feature__title {
  margin-left: 1.6rem;
}

.p-sub-feature__text {
  margin-top: 1.6rem;
  padding-left: 1.6rem;
}

.p-sub-feature__img {
  max-width: 100%;
  width: 100%;
}

.p-sub-feature__img img {
  width: inherit;
  max-width: inherit;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.box .img {
  margin: 0 20px 0 0;
}

.box:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.box:nth-child(even) .img {
  margin: 0 0 0 20px;
}

.text-box {
  width: calc(100% - 320px);
}

/* unrelated css */
.img {
  width: 300px;
  height: 200px;
  background: #bbb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  color: #fff;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-sub-staff__item {
  margin-top: 6.4rem;
}

.p-sub-topic__box {
  margin: 6.4rem auto 0;
}

.p-sub-topic__title {
  margin-top: 1.6rem;
}

.p-sub-topic__text {
  margin-top: 6.4rem;
}

.p-sub-topics__list {
  margin-top: 6.4rem;
}

.p-tel {
  padding: 0.8rem 1.6rem;
  color: #333;
  border: 1px solid #333;
  border-radius: 1.6rem;
  line-height: 1.5;
  margin-top: 2.4rem;
}

.p-tel__text {
  font-size: 1.4rem;
  text-align: center;
}
.p-tel__no {
  padding-top: 0;
  text-align: center;
  font-size: 2rem;
}

.p-top-about__subtitle {
  margin-top: 2.2rem;
}

.p-top-about__img {
  margin-top: 4.4rem;
  width: 100%;
}

.p-top-about__text {
  margin-top: 3.6rem;
  letter-spacing: -0.07em;
}

.p-top-about__btn {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-top-live__title {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2894736842;
  letter-spacing: -0.1em;
}

.p-top-live__img {
  margin-top: 6.4rem;
  width: 100%;
}

.p-top-live__text {
  margin-top: 3.6rem;
  letter-spacing: -0.07em;
}

.p-top-service {
  padding: 9rem 0;
  background: #707070;
  border-radius: 4.8rem;
}

.p-top-service__subtitle {
  margin-top: 2.2rem;
}

.p-top-service__img {
  margin-top: 4.4rem;
  width: 100%;
}

.p-top-service__text {
  margin-top: 3.6rem;
  letter-spacing: -0.07em;
}

.p-top-service__btn {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-topic {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.8rem;
  border-bottom: 1px solid #d2d2d2;
}

.p-topic__text {
  margin-left: 0;
}

.p-topics__item {
  margin: 2.4rem auto 0;
}

.p-topics__title {
  text-align: center;
}

.p-topics {
  background-color: #F0FCE5;
}

.p-topics__inner {
  padding: 4.8rem;
}

.p-topics__btn {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ball__box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -5;
}

.ball__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-filter: url("#gaussian");
          filter: url("#gaussian");
}

.ball {
  width: 50vw;
  height: 25vw;
  position: absolute;
  top: -60%;
  left: 0;
}
.ball:before {
  background: #EEE1F6;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-filter: blur(5vw);
          filter: blur(5vw);
}
.ball:nth-child(1) {
  -webkit-animation: x-axis-1 30s infinite alternate ease-in-out;
          animation: x-axis-1 30s infinite alternate ease-in-out;
}
.ball:nth-child(1):before {
  -webkit-animation: y-axis-1 30s infinite 0.1s alternate ease-in-out;
          animation: y-axis-1 30s infinite 0.1s alternate ease-in-out;
}
.ball:nth-child(2) {
  -webkit-animation: x-axis-2 35s infinite alternate ease-in-out;
          animation: x-axis-2 35s infinite alternate ease-in-out;
}
.ball:nth-child(2):before {
  -webkit-animation: y-axis-2 235s infinite 0.1s alternate ease-in-out;
          animation: y-axis-2 235s infinite 0.1s alternate ease-in-out;
}
.ball:nth-child(3) {
  -webkit-animation: x-axis-3 11s infinite alternate ease-in-out;
          animation: x-axis-3 11s infinite alternate ease-in-out;
}
.ball:nth-child(3):before {
  -webkit-animation: y-axis-3 11s infinite 0.1s alternate ease-in-out;
          animation: y-axis-3 11s infinite 0.1s alternate ease-in-out;
}

@-webkit-keyframes x-axis-21 {
  0% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
  100% {
    -webkit-transform: translate(70vw);
            transform: translate(70vw);
  }
}

@keyframes x-axis-21 {
  0% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
  100% {
    -webkit-transform: translate(70vw);
            transform: translate(70vw);
  }
}
@-webkit-keyframes y-axis-1 {
  0% {
    -webkit-transform: translateY(20vh) scale(1);
            transform: translateY(20vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
}
@keyframes y-axis-1 {
  0% {
    -webkit-transform: translateY(20vh) scale(1);
            transform: translateY(20vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
}
@-webkit-keyframes x-axis-2 {
  0% {
    -webkit-transform: translate(60vw);
            transform: translate(60vw);
  }
  100% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
}
@keyframes x-axis-2 {
  0% {
    -webkit-transform: translate(60vw);
            transform: translate(60vw);
  }
  100% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
}
@-webkit-keyframes y-axis-2 {
  0% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(10vh) scale(1);
            transform: translateY(10vh) scale(1);
  }
}
@keyframes y-axis-2 {
  0% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(10vh) scale(1);
            transform: translateY(10vh) scale(1);
  }
}
@-webkit-keyframes x-axis-3 {
  0% {
    -webkit-transform: translate(20vw) scale(1);
            transform: translate(20vw) scale(1);
  }
  100% {
    -webkit-transform: translate(40vw) scale(1);
            transform: translate(40vw) scale(1);
  }
}
@keyframes x-axis-3 {
  0% {
    -webkit-transform: translate(20vw) scale(1);
            transform: translate(20vw) scale(1);
  }
  100% {
    -webkit-transform: translate(40vw) scale(1);
            transform: translate(40vw) scale(1);
  }
}
@-webkit-keyframes y-axis-3 {
  0% {
    -webkit-transform: translateY(50vh) scale(1);
            transform: translateY(50vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(60vh) scale(1);
            transform: translateY(60vh) scale(1);
  }
}
@keyframes y-axis-3 {
  0% {
    -webkit-transform: translateY(50vh) scale(1);
            transform: translateY(50vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(60vh) scale(1);
            transform: translateY(60vh) scale(1);
  }
}
.ball2 {
  width: 50vw;
  height: 25vw;
  position: absolute;
  top: 10%;
  left: 0;
}
.ball2:before {
  background: #8DA8E9;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-filter: blur(7vw);
          filter: blur(7vw);
}
.ball2:nth-child(1) {
  -webkit-animation: x-axis-21 20s infinite alternate ease-in-out;
          animation: x-axis-21 20s infinite alternate ease-in-out;
}
.ball2:nth-child(1):before {
  -webkit-animation: y-axis-21 20s infinite 0.1s alternate ease-in-out;
          animation: y-axis-21 20s infinite 0.1s alternate ease-in-out;
}
.ball2:nth-child(2) {
  -webkit-animation: x-axis-22 25s infinite alternate ease-in-out;
          animation: x-axis-22 25s infinite alternate ease-in-out;
}
.ball2:nth-child(2):before {
  -webkit-animation: y-axis-22 25s infinite 0.1s alternate ease-in-out;
          animation: y-axis-22 25s infinite 0.1s alternate ease-in-out;
}
.ball2:nth-child(3) {
  -webkit-animation: x-axis-23 11s infinite alternate ease-in-out;
          animation: x-axis-23 11s infinite alternate ease-in-out;
}
.ball2:nth-child(3):before {
  -webkit-animation: y-axis-23 11s infinite 0.1s alternate ease-in-out;
          animation: y-axis-23 11s infinite 0.1s alternate ease-in-out;
}
.ball2:nth-child(4) {
  -webkit-animation: x-axis-24 10s infinite alternate ease-in-out;
          animation: x-axis-24 10s infinite alternate ease-in-out;
}
.ball2:nth-child(4):before {
  -webkit-animation: y-axis-24 10s infinite 0.1s alternate ease-in-out;
          animation: y-axis-24 10s infinite 0.1s alternate ease-in-out;
}

@keyframes x-axis-21 {
  0% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
  100% {
    -webkit-transform: translate(70vw);
            transform: translate(70vw);
  }
}
@-webkit-keyframes y-axis-21 {
  0% {
    -webkit-transform: translateY(20vh) scale(1);
            transform: translateY(20vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
}
@keyframes y-axis-21 {
  0% {
    -webkit-transform: translateY(20vh) scale(1);
            transform: translateY(20vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
}
@-webkit-keyframes x-axis-22 {
  0% {
    -webkit-transform: translate(60vw);
            transform: translate(60vw);
  }
  100% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
}
@keyframes x-axis-22 {
  0% {
    -webkit-transform: translate(60vw);
            transform: translate(60vw);
  }
  100% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
}
@-webkit-keyframes y-axis-22 {
  0% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(10vh) scale(1);
            transform: translateY(10vh) scale(1);
  }
}
@keyframes y-axis-22 {
  0% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(10vh) scale(1);
            transform: translateY(10vh) scale(1);
  }
}
@-webkit-keyframes x-axis-23 {
  0% {
    -webkit-transform: translate(20vw) scale(1);
            transform: translate(20vw) scale(1);
  }
  100% {
    -webkit-transform: translate(40vw) scale(1);
            transform: translate(40vw) scale(1);
  }
}
@keyframes x-axis-23 {
  0% {
    -webkit-transform: translate(20vw) scale(1);
            transform: translate(20vw) scale(1);
  }
  100% {
    -webkit-transform: translate(40vw) scale(1);
            transform: translate(40vw) scale(1);
  }
}
@-webkit-keyframes y-axis-23 {
  0% {
    -webkit-transform: translateY(50vh) scale(1);
            transform: translateY(50vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(60vh) scale(1);
            transform: translateY(60vh) scale(1);
  }
}
@keyframes y-axis-23 {
  0% {
    -webkit-transform: translateY(50vh) scale(1);
            transform: translateY(50vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(60vh) scale(1);
            transform: translateY(60vh) scale(1);
  }
}
@-webkit-keyframes x-axis-24 {
  0% {
    -webkit-transform: translate(70vw);
            transform: translate(70vw);
  }
  100% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
}
@keyframes x-axis-24 {
  0% {
    -webkit-transform: translate(70vw);
            transform: translate(70vw);
  }
  100% {
    -webkit-transform: translate(-10vw);
            transform: translate(-10vw);
  }
}
@-webkit-keyframes y-axis-24 {
  0% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(20vh) scale(1);
            transform: translateY(20vh) scale(1);
  }
}
@keyframes y-axis-24 {
  0% {
    -webkit-transform: translateY(70vh) scale(1);
            transform: translateY(70vh) scale(1);
  }
  100% {
    -webkit-transform: translateY(20vh) scale(1);
            transform: translateY(20vh) scale(1);
  }
}
html.is-fixed,
html.is-fixed body {
  height: 100%;
  width: 100%;
  position: fixed;
}

.wpcf7-spinner {
  display: none;
}

.wpcf7-list-item {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
  .inner-block {
    margin: 0 auto;
  }
  .sp {
    display: none !important;
  }

  a[href^="tel:"] {
    pointer-events: none;
  }

  a,
a::before,
a::after,
button {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .c-common-subtitle {
    font-size: 7.5rem;
    line-height: 1.2;
  }
  .c-common-text {
    font-size: 2.4rem;
    line-height: 2;
  }
  .c-common-title {
    font-size: 5rem;
  }
  .c-timetable__title {
    width: 44%;
  }
  .c-timetable__text {
    width: 8%;
  }
  .l-header {
    padding: 0.8rem 0 0;
  }
  .l-top-about {
    margin-top: 23rem;
  }
  .l-top-live {
    margin-top: 23rem;
  }
  .l-top-service {
    margin-top: 23rem;
  }
  .p-consultation {
    width: calc(50% - 40px);
  }
  .p-consultation__table {
    width: 40rem;
  }
  .p-feature__rightbox {
    margin-left: 8rem;
  }
  .p-reception__inner {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .p-sub-feature {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .p-sub-feature:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .p-sub-feature__body {
    padding-left: 2.4rem;
    padding-top: 0;
  }
  .p-sub-feature:nth-of-type(even) .p-sub-feature__body {
    padding-left: 0;
    padding-right: 2.4rem;
  }
  .p-sub-feature__text {
    padding-left: 5.6rem;
  }
  .p-sub-feature__img {
    width: rem(320);
  }
  .p-top-about__title {
    font-size: 10rem;
    line-height: 1.35;
  }
  .p-top-about__img {
    max-width: 144rem;
    margin-top: 22rem;
  }
  .p-top-live__title {
    font-size: 10rem;
    line-height: 1.35;
  }
  .p-top-live__img {
    max-width: 144rem;
    margin-top: 22rem;
  }
  .p-top-service__title {
    font-size: 10rem;
    line-height: 1.35;
  }
  .p-top-service__img {
    max-width: 144rem;
    margin-top: 22rem;
  }
  .p-topic {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .p-topic__text {
    margin-left: 4.8rem;
  }
  .u-hidden-pc {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 14px;
    position: relative;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
  }

  .inner-block {
    padding: 0 10px;
    width: auto;
  }

  #wrapper {
    min-width: 320px;
    position: relative;
    overflow: hidden;
  }

  input[type=submit] {
    -webkit-text-size-adjust: 100%;
  }

  input,
select,
textarea {
    font-size: 16px !important;
  }

  .pc {
    display: none !important;
  }
  .l-inner {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .c-contact-check__item + span {
    font-size: 1.6rem;
  }
  .c-contact-radio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .c-top {
    right: 4.5rem;
    bottom: 4.5rem;
  }
  .p-header__nav {
    padding-right: 24px;
    padding-left: 24px;
  }
  .p-tel {
    margin-top: 0;
  }
  .u-hidden-sp {
    display: none;
  }
}

@media only screen and (min-width: 376px) {
  .p-about__wrapper {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .p-about__img {
    margin-right: 2.5rem;
  }
  .p-feature__textbox {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .p-header__logo {
    max-width: 25rem;
  }
  .p-sub-contact__text {
    font-size: 1.6rem;
  }
  .p-sub-contact__content--center {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */